/*généralités*/
h1{
    color:red;
}
h2,h3,h4,p,li,a{
    color: aliceblue;
}
h1,h2{
    text-align: center;
}
li{
    list-style-type: none;
}
.note{
    color:greenyellow;
}
.exemple{
    font-style: italic;
}
.titre_chapitre{
    text-align: left;
}
/*liens*/
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: blueviolet;
}
.texte a{
    color:crimson;
}
.texte li{
    list-style:disc;
    padding: 3px 0 3px 0;
}
/*disposition*/
body{
    background: rgb(28, 3, 75);
}
main{
    display: flex;
}
/*.texte,.sommaire,.plan{
    border:1px solid black;
    padding: 2px 5px 2px 5px;
}*/
.texte{
    width: 60%;
}
.plan{
    width: 15%;
}
.sommaire{
    order:1;
    width: 25%;
}
.tableau{
    position: sticky;
    top:0;
}
.tableau h4{
    text-align: center;
}
.tableau,.sommaire{
    border: 1px solid white;
    border-radius: 2px;
    box-shadow:
    12px 11.2px 13px -7px rgba(0, 0, 0, 0.47),
    40.2px 37.5px 43.8px -7px rgba(0, 0, 0, 0.28),
    180px 168px 196px -7px rgba(0, 0, 0, 0.19);
}
