/*réinitialisation*/
*,::before,::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
/*généralités*/
h1{
    color:red;
}
h2,h3,h4,p,li,a{
    color: aliceblue;
}
h1,h2{
    text-align: center;
}
h1,h2,h3,h4{
    padding:10px 0 5px 10px;
}
li{
    list-style-type: none;
}
.note{
    color:greenyellow;
}
.exemple{
    font-style: italic;
}
.titre_chapitre{
    text-align: left;
}
/*liens*/
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: white;
}
.texte a{
    color:crimson;
}
.texte a:hover{
    font-weight: bold;
}
.texte li{
    list-style:disc;
    padding: 3px 0 3px 0;
}
/*disposition*/
body{
    background: rgb(28, 3, 75);
}
main{
    display: flex;
}
header{
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}
.texte{
    width: 60%;
    padding-right: 5px;
}
.texte h3,.texte h4{
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 15px;
}
.sommaire{
    width: 15%;
}
.contenu{
    order:1;
    width: 25%;
    border-right: 1px solid white;
}
.tableau{
    position: sticky;
    top:0;
    border-left: 1px solid wheat;
    margin-left: 5px;
}
.tableau h4{
    text-align: center;
    padding: 10px 0 10px 0;
}
.tableau,.contenu,.sommaire,.texte{
    padding-left: 5px;
}
